<!DOCTYPE html>


{% load static %}
<html>
    <head>
        <title>Tasky</title>

        <link rel="stylesheet" href="{% static 'tasky/css/styles.css' %}">
    </head>


    <body>
        <header>
            <h1>Tasky</h1>
            <p>A minimalistic todolist to a better management of your day.</p>
        </header>

        <div class="container">
            <div class="auth-btns">
                <div class="login">
                    <p>Login to your account</p>
                    <button>Login</button>
                </div>

                <div class="sign-up">
                    <p>or create one if you don't have it already!</p>
                    <button>Signup</button>
                </div>

            </div>

            <div class="todolist">
                
                <div class="searchbar">
                    <p>you can use tasky as a guest too .. </p>
                    <form action="" method="GET">
                        <input type="search" placeholder="Search for a task">
                        <input type="submit" value="Search">
                    </form>
                </div>
                <div class="todolist-items">
                    <ul>
                        {% for task in tasks %}
                        <li>{{ task.task }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="add-tasks-section">
                    <button class="add-task" onclick="addTask(this)">Add a task</button>
                    <button class="add-task onclick">Add</button>
                </div>

                <div class="download-section">                    
                    <button class="download-btn" onclick="downloadTodoList()">Download your todolist</button>
                    <button class="download-btn format">CSV</button>
                    <button class="download-btn format">Markdown</button>
                    <button class="download-btn format">Notion</button>

                </div>

            </div>
        </div>
        <script src="{% static 'tasky/js/script.js' %}"></script> 
    </body>





</html>