<!DOCTYPE html>


{% load static %}
<html>
    <head>
        <title>Tasky</title>

        <link rel="stylesheet" href="{% static 'tasky/styles.css' %}">
    </head>


    <body>
        <header>
            <h1>Tasky</h1>
            <p>A minimalistic todolist to a better management of your day.</p>
        </header>

        <div class="container">
            <div class="auth-btns">
                <div class="login">
                    <p>Login to your account</p>
                    <button>Login</button>
                </div>

                <div class="sign-up">
                    <p>or create one if you don't have it already!</p>
                    <button>Signup</button>
                </div>

            </div>

            <p>you can use tasky as a guest too .. </p>
            <div class="todolist">
                <div class="searchbar">
                    <form action="" method="GET">
                        <input type="search" placeholder="Search for a task">
                        <input type="submit" value="Search">
                    </form>
                </div>
                <div class="todolist-items">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="add-task">
                    <button>Add a task</button>
                </div>
                <div class="save-todolist">
                    <button>Download your todolist</button>
                </div>
            </div>
        </div>
        
    </body>





</html>